* {
        font-family: 'Poppins', sans-serif;
        user-select: none;
      }

      body {
        background-color: #ecf0f3;
      }

      p {
        margin: 0;
        font-size: 12px
      }

      a,
      a:focus,
      a:hover {
        text-decoration: none;
        color: inherit;
      }

      .my-bg {
        background-color: var(--main);
      }

      .sal img {
        width: 45px;
        border: 3px solid var(--main);
        border-radius: 30px
      }

      .sal {
        background: #ecf0f3;
        padding: 5px;
        border-radius: 5px 30px 30px 5px;
      }

      .ref h5 {
        font-size: 7px;
        padding: 5px;
        border-radius: 5px;
        color: #FFFFFF;
        background: var(--main);
        box-shadow: 0 3px 0 0 #AAA5A5;
      }

      .bg-white {
        border-radius: 8px;
        border: 1px solid #F7F7F7;
        background-color: #ecf0f3 !important;
        box-shadow: inset -3px -3px 7px #E2E2E2, inset 3px 3px 5px #ceced1 !important;
      }

      .f-14 {
        font-size: 14px;
        font-weight: 700;
      }

      .f-16 {
        font-size: 16px;
        font-weight: 500;
      }

      .d-grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }

      .menu-app {
        text-align: center;
      }

      .menu-app p {
        font-size: 10px;
      }

      .menu-app img {
        width: 50px;
        background-color: #ecf0f3;
        border-radius: 10px;
        padding: 10px;
        box-shadow: -3px -3px 7px #ffffff,
          3px 3px 5px #ceced1;

      }

      .box-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 5px;
        box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
      }

      .menu-top i {
        font-size: 15px;
        color: #FF9902;
        background-color: #ecf0f3;
        padding: 5px;
        border-radius: 80px;
        box-shadow: -3px -3px 7px #ffffff,
          3px 3px 5px #ceced1;
      }

      .menu-top {
        text-align: center;
      }

      .menu-top p {
        font-size: 7px;
      }

      .transaksi {
        background: #ecf0f3;
        box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 5px #ceced1;
        color: #FF7A00;
        font-size: 13px;
        font-weight: 700;
        border-radius: 50px;
        padding: 1px;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid #FFFFFF;
      }

      .box {
        background: #ecf0f3;
        box-shadow: -3px -3px 7px #ffffff,
          3px 3px 5px #ceced1;
        border-radius: 8px;
      }
      .mySlides {
        display: none;
      }

      .cq-content img {
        padding: 8px;
        background: #ecf0f3;
        border-radius: 18px;
        position: relative;
        box-shadow: -3px -3px 7px #ffffff,
          3px 3px 5px #ceced1;
          
      }